.navbar-light .navbar-brand {
    color:white;
    background:teal;
}

.nav-link {
    float:right;
}

body {
    background-image: url("./images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#main-container {
    padding-top: 100px;
    max-width: 65%;
    float:left;
    margin-left: 5%;
    background
}

.main-section {
	background-color: #fff;
	padding: 30px;
	margin: 0 0 40px 0;
	width: 100%;
	float: left;
	border: 1px solid #ddd;
}

.bioimage {
	width: 200px;
	height: 250px;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
}

h1, h2, h3 {
    color: teal;
}

#contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }