.navbar-light .navbar-brand {
    color:white;
    background:teal;
}

.nav-item {
    float:right;
}

body {
    background-image: url("assets/css/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}